<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

  </head>
  <body id="contact-body" >

    <button class="hamburger hamburger--spring" type="button">
      <span class="hamburger-box"> 
        <span class="hamburger-inner"></span>
      </span>
      <br>
    </button>
    <ul class="burger-links" >
      <div class="link-hover"> 
        <center> 
          <%=link_to 'Home.', root_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'Portfolio.', pages_portfolio_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'About.', pages_about_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'Contact.', pages_contact_url %> 
        </center> 
      </div>
    </ul>

    <br>
    </br>
    <br>
    </br>
        <br>
    </br>
    <br>
    </br>
    <div id="about-content">

     <p id="email">
        Do you have a project that you'd like for me to help with?<br></br> Send me an email at: <a id="contact-email">tanyadotcampbell@gmail.com</a>
     </p>
     <div id = "social-flats">
       <div id='linked-flat'> 
        <a href="https://www.linkedin.com/in/tanya-campbell-8b924935/" target="blank">
          <%= image_tag("linkedin-flat.png", width: '40px', height: '40px')%>
        </a>
      </div>
       <div id='git-flat'>
        <a href="https://github.com/tcampbellsoup" target="blank">
          <%= image_tag("github-flat.png", width: '40px', height: '40px')%>
        </a>
      </div>
       <div id='vimeo-flat'>
        <a href="https://vimeo.com/tanyacampbell" target="blank">
          <%= image_tag("vimeo-flat.png", width: '40px', height: '40px')%>
        </a>
      </div>
       <div id='gram-flat'>
        <a href="https://www.instagram.com/artbyteedawg/" target="blank">
         <%= image_tag("gram-flat.png", width: '40px', height: '40px')%>
       </a>
     </div>
   </div>
     <!-- <p>Or, fill out the fields below and I will reach out to you as soon as possible:</p>
     <br>
     <br>
  
    <div id="user-contact">

    <label for="name">Full Name:</label>
    <input id="name-field" name="name" width="400px">
    <br>
    <br>
    <label for="email">Email Address:</label>
    <input id="user-email" name="email">
    <br>
    <br>
    <label for="message">Message:</label>
    <textarea></textarea>
    <br>
    <br>
  
    <div id="submit-button">Send</div>
    
    </div>
    <br>
    <br> -->

    <div id="contact-avatar" >
      <%= image_tag("aboutmefro.png", width: '675px', height: '570px')%>
    </div>



  </body>

</html>
