<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <button class="hamburger hamburger--spring" type="button" >
      <span class="hamburger-box"> 
        <span class="hamburger-inner"></span>
      </span>
      <br>
    </button>
    <ul class="burger-links" >
      <div class="link-hover"> 
        <center> 
          <%=link_to 'Home.', root_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'Portfolio.', pages_portfolio_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'About.', pages_about_url %> 
        </center> 
      </div>

      <div class="link-hover"> 
        <center> 
          <%=link_to 'Contact.', pages_contact_url %> 
        </center> 
      </div>
    </ul>
      <br>
      </br>
      <br>
      </br>

      <div id="project-img">

        <div id="project-row">
          <a href="https://hidden-hollows-39165.herokuapp.com/">
            <%=image_tag("painting1.png", width: '500px', height: '400px')%>
           <%=image_tag("painting2.jpg", width: '500px', height: '500px')%>
           <%=image_tag("painting3.jpg", width: '500px', height: '400px')%>
           <%=image_tag("painting4.jpg", width: '500px', height: '450px')%>
           <%=image_tag("painting5.jpg", width: '500px', height: '525px')%>
           <%=image_tag("painting6.jpg", width: '500px', height: '250px')%>
       
          </a>
        </div>

        <div id="project-des">
          <h1 id="project-title">Tanya Campbell's Paintings</h1>

          <p>Here is a digital gallery of my oil paintings from my undergraduate career.</p>

         
      </div>

    </div>

    <br>
    </br>

    <center><div id = "folio-link"><%=link_to 'Back to Portfolio', pages_portfolio_url %></div></center>
    



  </body>
  <html>