<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>


    <title>Tanya Campbell</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>

  <body>
    <%= yield %>

	
  </body>
</html>
